body{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50vh;
    align-items: center;
    box-sizing: border-box;
}
.black{
    background: black;
}
.silver{
    background: rgba(88, 88, 88, .5);
}
.red{
    background: rgba(255, 1, 1, 0.664);
}
.green{
    background: rgba(12, 230, 59, 0.527);
}
.pink {
    background-color:rgba(230, 12, 219, 0.527) ;
}
.green-b{
    background-color:rgb(157, 255, 0) ;
}

.container-stopwatch{
    
    width: fit-content;
    padding: 1rem;
    text-align: center;
    border-radius: .5rem;
    box-shadow: 0 0 10px black;
}
.stopwatch-display{
    background: rgba(22, 97, 12, 0.5);
    padding: 1.5rem;
    font-weight: bold;
    box-sizing: border-box;
    font-size: 2rem;
    margin-bottom: 1rem;
}
.stopwatch-display span{
    font-size: 2rem;
}
.stopwatch-control button{
    text-transform: uppercase;
    color: white;
    background: rgba(0, 0, 0, 0.829);
    border: none;
    cursor:	grab;
}
.stopwatch-control button:nth-child(2){
    margin: 0 .5rem;
}

#phaseTwo{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: 10vh;
    align-items: center;
}
.button-check { 
    margin: 1vh auto;
    height: 20%;
    width: 30%;
}